/* Home */
.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .sortDropdownContainer{
    background: blue;
    height: 50px;
    width: 100%;
  }

  .contactList {
    height: calc(100% - 50px - 2rem); // header height and home body padding
    width: calc(100% - 2rem);
    background: grey;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;

    .listHeader {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      // background: lightblue;
      font-size: 1.2rem;
      border-bottom: 1px solid black;
      padding: 1rem .5rem .5rem .5rem;
      margin-bottom: .5rem;

    
    }
    .contactCard {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      background: beige;
      border-radius: 5px;
      padding: 1rem .5rem;
      margin: .1rem 0;

    }
  }
}

