/* Home */
.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .homeBody{
    height: calc(100% - 50px - 2rem); // header height and home body padding
    width: calc(100% - 2rem);
    background: grey;
    padding: 1rem;
  }
}

